:root {
  /* Farver */
  --color-water1: #1d5a77;
  --color-water2: #44b9f1;
}

#dodger {
  background-image: url("../img/crab.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80px;
  width: 160px;
  position: absolute;
}

#game {
  /* to lag: først billede (øverst), så gradient (bagved) */
  background: url("../img/gamebg.png"), center/auto no-repeat,
    linear-gradient(to bottom right, var(--color-water2), var(--color-water1));
  background-size: cover, cover;
  background-position: center;
  width: 100%;
  min-height: 100vh; /* sikrer fuld højde */
  margin: 0;
  overflow-x: hidden; /* forhindrer hvide sider hvis noget går lidt udenfor */
  position: relative;
}

/* fjern hvide kanter */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

.rock {
  width: 20px;
  height: 20px;
  background: tan;
  position: absolute;
}

.rock:before {
  content: "";
  border-bottom: 6px solid tan;
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rock:after {
  content: "";
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-top: 6px solid tan;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;
}
